<div  th:fragment="header" class="shadow">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
        <li class="nav-item"><a href="/pessoa" class="nav-link" aria-current="page">Pessoa</a></li>
        <li class="nav-item"><a href="/deficiencia" class="nav-link" aria-current="page">Deficiência</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Relatórios</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Ajuda</a></li>
        </ul>
    </header>
</div>
