<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout}">
    <body th:fragment="content">
        <div class="card mt-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title"><i class="fa-solid fa-users"></i> Listagem de Deficiência</h5>
                <div class="btn-group">
                    <a class="btn btn-success" href="/deficiencia/create"><i class="fa-solid fa-plus"></i> Adicionar</a>
                    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/deficiencia?display=false">Excluídos</a></li>
                        <li><a class="dropdown-item" href="/deficiencia">Ativos</a></li>
                    </ul>                        
                </div>
                
            </div>
            <div class="card-body">
                <table id="tabela" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="deficiencia : ${deficiencias}">
                            <td th:text="${deficiencia.id}"></td>
                            <td th:text="${deficiencia.nome}"></td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-light" th:href="@{/deficiencia/visualizar/{id}(id=${deficiencia.id})}"><i class="fa-solid fa-magnifying-glass"></i> Visualizar</a>
                                    <div th:if="${deficiencia.ativo}">
                                        <a class="btn btn-light" th:href="@{/deficiencia/update/{id}(id=${deficiencia.id})}"><i class="fa-solid fa-pen-ruler"></i> Alterar</a>
                                        <a class="btn btn-light" th:href="@{/deficiencia/remover/{id}(id=${deficiencia.id})}"><i class="fa-solid fa-trash"></i> Remover</a>
                                    </div>
                                    <div th:if="${not deficiencia.ativo}">
                                        <a class="btn btn-light" th:href="@{/deficiencia/remover/{id}(id=${deficiencia.id})}"><i class="fa-solid fa-reply"></i> Recuperar</a>
                                    </div>
                                </div>
                            </td>                            
                        </tr>                           
                    </tbody>
                </table>
            </div>               
        </div>
        
        <script th:src="@{/js/traducao-datatables-ptbr.js}"></script>
        <script type="text/javascript">
            $(document).ready(function (){
                $("#tabela").DataTable({
                    language: datatable_pt_br
                });
            });
        </script> 
    </body>
</html>